<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559402225071-8lbrhdt4dkkb89pr75op3acg0nl4ud37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559402225071-8lbrhdt4dkkb89pr75op3acg0nl4ud37</string>
	<key>API_KEY</key>
	<string>AIzaSyB8gKQ_E2uPusuuvDO-Y1edFfl6kAyxC0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>559402225071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vet.vetConnect</string>
	<key>PROJECT_ID</key>
	<string>vetconnect-5d5e7</string>
	<key>STORAGE_BUCKET</key>
	<string>vetconnect-5d5e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559402225071:ios:1dadd925da16ec1fab735a</string>
</dict>
</plist>